body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 0 200px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.links {
}

.body-1 {
    color: white;
    background-color: #1f2937;
    display: flex;
    padding: 0 200px;
    justify-content: center;
    gap: 40px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.body-2-cards {
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
}

.body-3-quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.body-4 {
    display: flex;
}

.footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    justify-content: center;
}